<!doctype html>
<html>
  <head>
    <title>BOOOM This is the title of the webpage!</title>
  </head>
  <body>
    <p>This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this $  </body>
</html>
